*{
    margin: 0;
    padding: 0;
}
body{
    height: 2390px;
}

.main-body1{
    box-sizing: border-box;
    margin-top: 0px;
    padding: 60px 170.797px;
    background-color: #2D2640;
    height: 530px;
}
.tagline{
    box-sizing: border-box;
    padding-top: 30px;
    width:500px ;
    color: white;
    font-size: 56px;
    font-family: "DM Serif Display", serif;
    line-height: 1.1;
}
.lorem-paragraph{
    box-sizing: border-box;
    color: #bcb8c4;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    margin: 35px 0px;
    width:500px ;
    line-height: 1.5;
}
.view-plans-btn {
    border: 1px solid white;
    border-radius: 3px;
    padding:18px 19px;
    font-size: 18px;
    background-color: #2D2640;
    color: white;
}
.imageofaman{
    float: right;
}