
body {
  font-size: 11pt;
  color: #404040;
  font-family: Georgia, Garamond;
  background-color: lightgoldenrodyellow;
}

.h2heading {
  color: #a4a400;
  background-color: #f0f0f0;
  font-size: 22pt;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", Helvetica, Arial;
  text-decoration: underline;
  text-align: center;
  letter-spacing: 0.25em;
}

.h3headings {
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans Unicode", Helvetica, Arial;
  font-size: 18pt;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.25cm;
}

.overview,
.ingredients,
.directions {
  border-bottom: 2px solid rgb(78, 17, 78);
}

.reviews {
  margin-bottom: 20px;
}

abbr {
  text-decoration: underline;
}

.reviews {
  background-color: #ffffa8;
  font-style: italic;
}

a {
  color: #a4a400;
}

.copyright {
  font-family: monospace;
}
